:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer utilities{
  .tp{
    @apply py-2 px-3 sm:px-6 sm:py-3
  }
}